{% if site.data.siteNavigation.mainNavigation == empty %}
<!-- Add Main Navigation menu items to display navigation -->
{% else %}
{% if site.data.siteNavigation.mainNavigation -%}
<nav id="main-menu" class="topnav">
    <a href="javascript:void(0);" title="Expand Menu" class="icon" onclick="mainNavigation()"><img width="44" height="44" class="icon"
            src="/assets/icons/menu.svg" alt="Expand Main Menu"></a>
    <ul>
        {% for item in site.data.siteNavigation.mainNavigation -%}
        <li><a href="{{ site.baseurl }}{{ item.link }}">{{item.name | upcase}}</a></li>
        {% endfor -%}
    </ul>
</nav>
{% endif -%}
{%endif%}