// paginated content-> homepage

section.paginated-content {
    grid-row: 2;
    grid-column-start: 1;
    grid-column-end: 2;
    .recent-post {
        a {
            display: grid;
            grid-template-columns: 96px 1fr;
            align-items: center;
            margin-bottom: 20px;
            text-decoration: none;
            img {
                border-radius: 100%;
                grid-column-start: 1;
                grid-column-end: 2;
                > div {
                    grid-column-start: 2;
                    grid-column-end: 3;
                    display: -webkit-box;
                    -webkit-line-clamp: 2;
                    -webkit-box-orient: vertical;
                    overflow: hidden;
                }
            }
            div {
                h2 {
                    margin-bottom: 0;
                    font-size: 80%;
                }
                p {
                    display: -webkit-box;
                    -webkit-line-clamp: 2;
                    -webkit-box-orient: vertical;
                    overflow: hidden;
                    margin-top: 8px;
                    margin-bottom: 0;
                    font-size: 70%;
                }
            }
        }
    }
}

@media only screen and (min-width: 1200px) {
    section.paginated-content .recent-post a {
        grid-template-columns: 230px 1fr;
        img {
            width: 90%;
        }
        div {
            h2 {
                margin-bottom: 16px;
                font-size: 100%;
            }
            p {
                margin-top: 16px;
                font-size: 80%;
            }
        }
    }
}
