{% include header.html %}
<main class="container">
    {%- if page.url == '/' %}
    {% for post in site.posts limit:1 %}
    {%- assign latest_post = site.posts[0] -%}
    <article>
        <header class="article-header">
            {%- if latest_post.media -%}
            {%- for item in latest_post.media %}
            <figure class="featured-media">
                {%- if item.type == 'featured_media_image' %}
                {% picture {{item.path}} --alt {{item.caption}} %}
                {%- endif -%}
                {%- if item.type == 'featured_media_youtube' -%}
                <lite-youtube videoid="{{item.youtubeID}}" playlabel="{{item.caption}}"></lite-youtube>
                {%- endif %}
                <figcaption>{{item.caption}}</figcaption>
            </figure>
            {% endfor %}
            {% endif %}
            <a href="{{latest_post.url}}">
                <h1>{{latest_post.title}}</h1>
            </a>
        </header>
        {%- for item in latest_post.post_content -%}
        <section class="{{item.type}}-block{% if item.full-width == true %} full-width{%- endif -%}">
            {% if item.type == 'content' -%}
            {{item.content | markdownify }}
            {%- endif -%}
            {% if item.type == 'youtube' -%}
            <figure>
                <lite-youtube videoid="{{item.youtubeID}}" playlabel="{{item.caption}}"></lite-youtube>
                <figcaption>{{item.caption}}</figcaption>
            </figure>
            {% endif %}
            {% if item.type == 'figure' -%}
            <figure>
                {% picture {{item.path}} --alt {{item.caption}} %}
                <figcaption>{{item.caption}}</figcaption>
            </figure>
            {% endif %}
        </section>
        {%- endfor %}
    </article>
    {% include post-paginator.html %}
    {% endfor %}
    {% endif %}
</main>
{% include footer.html %}